/*Colors*/
:root {
  /*Black*/
  --light-black: #6f959b;
  --primary-black: #283739;
  --dark-black: #080c0c;
  /*Blue*/
  --light-blue: #72b7c0;
  --primary-blue: #46919b;
  --dark-blue: #2c5d63;
  /*Green*/
  --light-green: #c9e64c;
  --primary-green: #a2c11c;
  --dark-green: #2d3608;
  /*Purple*/
  --light-purple: #e9007f;
  --primary-purple: #b61aae;
  --dark-purple: #590d82;
  /*White*/
  --light-white: #f5f5f5;
  --primary-white: #e0e0e0;
  --dark-white: #b8b8b8;
  /*Shadow*/
  --light-shadow: #152744;
  --dark-shadow: #0a121f;
  /*Gradients*/
  --purple: radial-gradient(
    circle at 52.1% -29.6%,
    rgb(144, 17, 105) 0%,
    rgb(51, 0, 131) 100.2%
  );
}

body {
  background: var(--purple);
  font-family: "Roboto", sans-serif;
  color: var(--primary-black);
  height: 92.4vh;
}

a {
  color: var(--dark-purple);
  transition: all 200ms ease-in-out;
}

a:hover {
  color: var(--light-purple);
  cursor: pointer;
  font-weight: bold;
}

.weather-app {
  background: var(--light-white);
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 10px 10px var(--dark-shadow);
  border-radius: 16px;
  padding: 30px;
}

header {
  border-bottom: 1px solid var(--primary-purple);
  padding: 0 0 30px 0;
}

.search-form-input {
  background-color: var(--primary-white);
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}

.search-form-button {
  background: var(--primary-purple);
  padding: 15px 30px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 6px;
  color: var(--light-white);
  transition: all 200ms ease-in-out;
}

.search-form-button:hover {
  background: var(--light-purple);
  cursor: pointer;
  transform: scale(110%);
}

main {
  padding: 30px 0;
}

.weather-app-data {
  margin: 0 auto;
  text-align: center;
}

.weather-app-city {
  text-align: center;
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}

.weather-app-details {
  font-size: 16px;
  text-align: left;
  color: var(--light-black);
  line-height: 24px;
  font-weight: 500;
  display: inline-flex;
  flex-direction: column;
  border: none;
  background: none;
  border-radius: 10px;
  padding: 25px;
}

.weather-app-details strong {
  color: var(--light-purple);
  padding-left: 5px;
}

.weather-app-temperature-container {
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  border: none;
  background: none;
  border-radius: 10px;
  width: 280px;
  padding: 0 25px 25px 25px;
}

.weather-app-icon {
  width: 150px;
  height: 150px;
  margin: 0 auto;
}

.weather-app-temperature {
  font-size: 88px;
  font-weight: bold;
}

.weather-app-unit {
  margin-top: 6px;
  font-size: 28px;
}

#description {
  color: var(--light-black);
}

footer {
  border-top: 1px solid var(--primary-purple);
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: var(--dark-purple);
}
